# Dependencies
node_modules/

# Build outputs
dist/
build/
src-tauri/target/
src-tauri/binaries/

# OS artifacts
.DS_Store

# Installer / binary artifacts
*.exe
*.dll
*.dmg
*.app
*.msi
*.pkg
*.zip
*.tar.gz

# Local/env/editor
*.local
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

